@import '../bower_components/reset-scss/reset.scss';

$squareSize: 60px;
$pieceSize: 55px;

$white-color: #f0d9b5;
$black-color: #b58863;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color:#AAA;
}

.game-wrapper {
  text-align:center;
}

.game {
  user-select: none;
  margin:0 auto;
  width: 9 * $squareSize;
}


.history {
  background-color:#333;
  float:right;
  text-align:left;
  vertical-align:top;
  width: $squareSize;
  height: 8 * $squareSize;
  overflow:auto;
}


.history-list {
  list-style:none;
  padding:0px;
  margin:0px;
}

.history-list-entry {
  margin:0;
  padding:0;
  font-weight:300;
}

.history-list-entry-link {
  display:block;
  padding:3px 10px;
  color:#999;
  cursor:pointer;
  &:hover {
    color:#FFF;
  }
}

.history-list-entry-active {
  font-weight:400;
  a {
    color:red;
  }
}



.board {
  display:inline-block;
  width: 8 * $squareSize;
  vertical-align:top;
}

.board-rank {
  height: $squareSize;
  width: 8 * $squareSize;
}

.game-status {
  text-align:left;
  font-weight:300;
  margin-bottom:10px;
}

.game-status-name {
  &:first-letter {
    text-transform: capitalize
  }
}

.game-status-step {
  font-size:0.8em;
  color: #999;
  float:right;
}


.controls {
  display:block;
  margin-top:15px;
  width:8 * $squareSize;
  text-align:left;
}

.control {
  vertical-align:top;
  color:#333;
  margin:0 10px 0 0;
  &.active {
    color:#AAA;
    &:hover {
      color:#FFF;
    }
  }
}

.rotate-control {
  float:right;
  &:hover {
    color:#FFF;
  }
}

.stockfish-control {
  margin-left:20px;
}





.ai {
  font-weight:300;
  color:#666;
}

.ai-toggle {
  margin-right:20px;
}

.board-square {
  display:inline-block;
  width:$squareSize;
  height:$squareSize;
  text-align:center;
  vertical-align:middle;
  position:relative;
  img {
    width:$pieceSize;
  }
  &:hover {
    .fileRank {
      display:block;
    }
  }
  .fileRank {
    display:none;
    position:absolute;
    bottom:3px;
    right:3px;
    font-size:0.7em;
    text-transform:uppercase;
    opacity:0.7;
  }
  &.black {
    background-color:$black-color;
    .fileRank {
      color: #f0d9b5;
    }
    &.selected {
      background-color:blue;
    }
    &.move {
     background-color:adjust-hue( $black-color,30%);
    }
    &.attack {
     animation: attack-anim-black  1s  infinite;
    }
  }
  &.white {
    background-color:$white-color;
    .fileRank {
      color: #b58863;
    }
    &.selected {
      background-color:blue;
    }
    &.move {
     background-color:adjust-hue(darken($white-color, 10%),30%);
    }
    &.attack {
       animation: attack-anim-white  1s  infinite;
    }
  }
}



@keyframes attack-anim-white {
 0%,100% { 
   background-color:adjust-hue(darken($white-color, 10%),30%);
 }
 50% { 
   background-color:adjust-hue(darken($white-color, 10%),-30%);
 }
}
@keyframes attack-anim-black {
 0%,100% { 
   background-color:adjust-hue( $black-color,30%);
 }
 50% { 
   background-color:adjust-hue( $black-color,-30%);
 }
}





.modal {
  background: white;
  z-index:100;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
