// Square sizes to be used depending on the device size
$square-size-s: 30px;
$square-size-m: 50px;
$square-size-l: 70px;
$board-legend-size: 20px;

// Defining some break points for which square size to use
$large-device: 1400px;
$small-device: 450px;

// Color sheme for the board
$white-color: #f0d9b5;
$black-color: #b58863;



// Mixins apply the correct dimensions for each device
// Would be nice to find a smarter way of doing this (might require a different approach to how the board is rendered)

@mixin square-width {
  width:$square-size-s; 
  @media screen and (max-width: $small-device) {
    width: $square-size-s;
  }
  @media screen and (min-width: $small-device) and (max-width: $large-device) {
    width: $square-size-m;
  }
  @media screen and (min-width: $large-device) {
    width: $square-size-l;
  }
}

@mixin square-height {
  height:$square-size-s; 
  line-height:$square-size-s;
  @media screen and (max-width: $small-device) {
    height:$square-size-s; 
    line-height:$square-size-s;
  }
  @media screen and (min-width: $small-device) and (max-width: $large-device) {
    height:$square-size-m; 
    line-height:$square-size-m;
  }
  @media screen and (min-width: $large-device) {
    height:$square-size-l; 
    line-height:$square-size-l;
  }
}

@mixin board-width {
  width:8*$square-size-s; 
  @media screen and (max-width: $small-device) {
    width: 8*$square-size-s;
  }
  @media screen and (min-width: $small-device) and (max-width: $large-device) {
    width: 8*$square-size-m;
  }
  @media screen and (min-width: $large-device) {
    width: 8*$square-size-l;
  }
}

@mixin board-height {
  height:8*$square-size-s; 
  @media screen and (max-width: $small-device) {
    height: 8*$square-size-s;
  }
  @media screen and (min-width: $small-device) and (max-width: $large-device) {
    height: 8*$square-size-m;
  }
  @media screen and (min-width: $large-device) {
    height: 8*$square-size-l;
  }
}

@mixin board-with-legend-width {
  width:8*$square-size-s + $board-legend-size; 
  @media screen and (max-width: $small-device) {
    width: 8*$square-size-s + $board-legend-size;
  }
  @media screen and (min-width: $small-device) and (max-width: $large-device) {
    width: 8*$square-size-m + $board-legend-size;
  }
  @media screen and (min-width: $large-device) {
    width: 8*$square-size-l + $board-legend-size;
  }
}
