.controls {
  @include board-width;
  display:block;
  margin-top:8px;
  text-align:left;
  font-size:18px;
}

.control {
  vertical-align:top;
  display:inline-block;
  position:relative;
  padding:3px 3px 2px 2px;
  border:1px solid #333;
  border-radius:3px;
  color:#333;
  margin:0 5px 0 0;
  &.active {
    color:#AAA;
    border:1px solid #999;
    &:hover {
      color:#FFF;
      border:1px solid #EEE;
    }
  }
}

.rotate-control {
  float:right;
  color:#AAA;
  border:1px solid #999;
  margin-right:0px;
  &:hover {
    color:#FFF;
    border:1px solid #EEE;
  }
}

.stockfish-control {
  margin-left:20px;
}
