
.history {
  @include board-height;
  @include square-width;
  display:inline-block;
  text-align:right;
  vertical-align:top;
  overflow:auto;
}


.history-list {
  list-style:none;
  padding:0px;
  margin:0px;
}

.history-list-entry {
  margin:0;
  padding:0;
  font-weight:300;
}


.history-list-entry-link {
  display:block;
  padding:3px 0;
  color:#999;
  cursor:pointer;
  &:hover {
    color:#FFF;
  }
}

.history-list-entry-active {
  font-weight:400;
  a {
    color:red;
  }
}


