.modal {
  background-color:rgba(0,0,0,0.7);;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  padding:50px 10px 10px 10px;
  overflow:auto;
  text-align:center;
  z-index:10;
}

.modal-box {
  margin:0 auto;
  max-width:500px;
  min-width:240px;
  width:90%;
  background-color:#FFF;
  text-align:left;
  border-radius: 3px;
}

.modal-box-close {
  float:right;
  margin: 5px 5px 0 0;
  padding:10px;
  cursor:pointer;
  color:#666;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.2);
    color:#000;
  }
}

.modal-box-content {
  padding:15px 30px 30px 30px;
}

.modal-box-content-title {
  display:block;
  text-align:center;
  padding-bottom:10px;
  font-weight:300;
  font-size:15px;
  margin-bottom:10px;
  color:#AAA;
}
