.modal {
  background-color:#fff;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  overflow:auto;
  text-align:center;
}

.modal-content {
  margin:0 auto;
  text-align:left;
  width:400px;
}
