@import '../bower_components/reset-scss/reset.scss';
@import '../bower_components/sweetalert/lib/sweet-alert.scss';

@import url('../bower_components/purecss/src/buttons/css/buttons-core.css');
@import url('../bower_components/purecss/src/buttons/css/buttons.css');
@import url('../bower_components/purecss/src/forms/css/forms.css');


@import 'board-variables'; // These variables are required by several elements!
@import 'icons';
@import 'modal';
@import 'navigation';
@import 'board';
@import 'controls';
@import 'history';
@import 'forms';
@import 'typeset';


body {
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  background-color: #000;
  color:#000;
}

.game-wrapper {
  text-align:center;
}

.game {
  user-select: none;
  display:inline-block;
  width: $board-with-legend-width;
}

.game-status {
  color:#DDD;
  text-align:left;
  font-weight:300;
  margin-bottom:10px;
  font-size:15px;
  width: $board-width;
  &:first-letter {
    text-transform: capitalize;
  }
}

.game-status-step {
  font-size:13px;
  color: #999;
  float:right;
}

