@import '../bower_components/reset-scss/reset.scss';
@import '../bower_components/sweetalert/lib/sweet-alert.scss';
@import 'icons';

$squareSize: 50px;
$boardLegendSize: 20px;
$pieceSize: 45px;

$white-color: #f0d9b5;
$black-color: #b58863;


body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color:#AAA;
}

.game-wrapper {
  text-align:center;
}

.game {
  user-select: none;
  margin:0 auto;
  width: 9 * $squareSize + $boardLegendSize;
}


.history {
  float:right;
  font-size:0.8em;
  text-align:right;
  vertical-align:top;
  width: $squareSize;
  height: 8 * $squareSize;
  overflow:auto;
}


.history-list {
  list-style:none;
  padding:0px;
  margin:0px;
}

.history-list-entry {
  margin:0;
  padding:0;
  font-weight:300;
}


.history-list-entry-link {
  display:block;
  padding:3px 5px;
  color:#999;
  cursor:pointer;
  &:hover {
    color:#FFF;
  }
}

.history-list-entry-active {
  font-weight:400;
  a {
    color:red;
  }
}



.board {
  display:inline-block;
  width: 8 * $squareSize + $boardLegendSize;
  vertical-align:top;
}

.board-rank {
  height: $squareSize;
  width: 8 * $squareSize + $boardLegendSize;
}


.board-labels {
}

.board-label {
  display:block;
  margin:0px;
  font-size:10px;
  font-weight:300;
  color:#666;
}

.rank-label {
  //width: $boardLegendSize;
  height: $squareSize;
  line-height: $squareSize;
  width: $boardLegendSize;
  float:right; 
}

.file-label {
  float:left; 
  width: $squareSize;
  height: $boardLegendSize;
  line-height: $boardLegendSize;
}


.game-status {
  width: 8 * $squareSize;
  text-align:left;
  font-weight:300;
  margin-bottom:10px;
}

.game-status-name {
  &:first-letter {
    text-transform: capitalize
  }
}

.game-status-step {
  font-size:0.8em;
  color: #999;
  float:right;
}


.controls {
  display:block;
  margin-top:15px;
  width:8 * $squareSize;
  text-align:left;
  font-size:1.2em;
}

.control {
  vertical-align:top;
  display:inline-block;
  position:relative;
  padding:5px 5px 3px 5px;
  border:1px solid #333;
  border-radius:3px;
  color:#333;
  margin:0 10px 0 0;
  &.active {
    color:#AAA;
    border:1px solid #999;
    &:hover {
      color:#FFF;
      border:1px solid #EEE;
    }
  }
}

.rotate-control {
  float:right;
  color:#AAA;
  border:1px solid #999;
  margin-right:0px;
  &:hover {
    color:#FFF;
    border:1px solid #EEE;
  }
}

.stockfish-control {
  margin-left:20px;
}


.navigation {
  margin:10px 10px 20px 10px;
  font-weight:400;
  font-size:0.9em;
  color:#DDD;
}

.navigation-entry {
  margin-right:15px;
}


.ai {
  font-weight:300;
  color:#AAA;
}

.ai-toggle {
  margin-left:5px;
  color:#DDD;
}

.board-square {
  display:inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $pieceSize $pieceSize;
  width:$squareSize;
  height:$squareSize;
  &.p-piece {
    background-image: url('../images/pieces/Chess_pdt45.svg');
  }
  &.P-piece {
    background-image: url('../images/pieces/Chess_plt45.svg');
  }
  &.b-piece {
    background-image: url('../images/pieces/Chess_bdt45.svg');
  }
  &.B-piece {
    background-image: url('../images/pieces/Chess_blt45.svg');
  }
  &.k-piece {
    background-image: url('../images/pieces/Chess_kdt45.svg');
  }
  &.K-piece {
    background-image: url('../images/pieces/Chess_klt45.svg');
  }
  &.n-piece {
    background-image: url('../images/pieces/Chess_ndt45.svg');
  }
  &.N-piece {
    background-image: url('../images/pieces/Chess_nlt45.svg');
  }
  &.q-piece {
    background-image: url('../images/pieces/Chess_qdt45.svg');
  }
  &.Q-piece {
    background-image: url('../images/pieces/Chess_qlt45.svg');
  }
  &.r-piece {
    background-image: url('../images/pieces/Chess_rdt45.svg');
  }
  &.R-piece {
    background-image: url('../images/pieces/Chess_rlt45.svg');
  }
  &.black {
    background-color:$black-color;
    .fileRank {
      color: #f0d9b5;
    }
    &.selected {
      background-color:blue;
    }
    &.move {
     background-color:adjust-hue( $black-color,30%);
    }
    &.attack {
     animation: attack-anim-black  1s  infinite;
    }
  }
  &.white {
    background-color:$white-color;
    .fileRank {
      color: #b58863;
    }
    &.selected {
      background-color:blue;
    }
    &.move {
     background-color:adjust-hue(darken($white-color, 10%),30%);
    }
    &.attack {
       animation: attack-anim-white  1s  infinite;
    }
  }
}



@keyframes attack-anim-white {
 0%,100% { 
   background-color:adjust-hue(darken($white-color, 10%),30%);
 }
 50% { 
   background-color:adjust-hue(darken($white-color, 10%),-30%);
 }
}
@keyframes attack-anim-black {
 0%,100% { 
   background-color:adjust-hue( $black-color,30%);
 }
 50% { 
   background-color:adjust-hue( $black-color,-30%);
 }
}





.modal {
  background: white;
  z-index:100;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
