<div class="board">
    <div ng-repeat="rank in reverseArray(ranks,rotate)" ng-init="rankNumber = 8-$index" class="board-rank">
      <div ng-repeat="square in reverseArray(rank,rotate) track by $index" class="board-square {{square.color}} {{square.highlight}} {{square.piece}}-piece" ng-click="clickSquare(fileLabels[square.file], square.rank);">
      </div>
      <div class="board-label rank-label">
        {{rankNumber}}
      </div>
    </div>
    <div class="board-labels">
      <div class="board-label file-label" ng-repeat="file in reverseArray(['A','B','C','D','E','F','G','H'],rotate)">{{file}}</div>
    </div>
</div>
