<div class="modal" ng-show="modal">
  <div class="modal-box">
    <a class="modal-box-close" ng-click="modal = false">
      <i class="icon-x"></i>
    </a>
    <div ng-show="modal === 'ai'" class="modal-box-content">
      <form class="pure-form">
        <fieldset>
          <legend>Computer plays</legend>
          <div class="pure-control-group">
            <label for="aiwhite" class="pure-radio">
              <input id="aiwhite" ng-model="computer" value="white" type="radio" ng-change="modal = false"> White
            </label>
            <label class="pure-radio" for="aiblack">
              <input id="aiblack" ng-model="computer" value="black" type="radio" ng-change="modal = false"> Black
            </label>
            <label class="pure-radio" for="ainone">
              <input id="ainone" ng-model="computer" value="none" type="radio" ng-change="modal = false"> None
            </label>
          </div>
        </fieldset>
      </form>
    </div>

    <div ng-show="modal === 'new'" class="modal-box-content">
      <textarea ng-model="pgn" rows="5" placeholder="leave blank for new game"></textarea>
      <button class="pure-button pure-button-primary" ng-click="newgame = false; newGame(pgn); pgn = ''">
        <span ng-hide="pgn">New game</span>
        <span ng-show="pgn">Load game</span>
      </button>
      <button class="pure-button pure-button-secondary" ng-click="modal = false">
        Cancel
      </button>
    </div>

    <div ng-show="modal === 'share'" class="modal-box-content">
      <textarea rows="5">{{exportPgn}}</textarea>
    </div>
  </div>
</div>

<div class="navigation">
  <a class="navigation-entry" ng-click="modal = 'new'">
    <i class="icon-plus-circle"></i> New
  </a>
  <a class="navigation-entry" ng-click="modal = 'share'">
    <i class="icon-share"></i> Share
  </a>
  <a class="navigation-entry" ng-click="modal = 'ai'">
    <i class="icon-ai"></i> AI ({{computer}})
  </a>
</div>

<div class="game-wrapper">
  
  <div class="game">

    <div class="game-status">
      <span ng-hide="status.isCheckmate || status.isCheck">{{status.side.name}}'s turn</span>
      <span ng-show="status.isCheck">{{status.side.name}} is in check</span>
      <span ng-show="status.isCheckmate">{{status.side.name}} is check mate</span>
      <span ng-show="status.isStalemate">Stalemate</span>
      <span class="game-status-step" ng-show="historyLength > 0"><span ng-show="historyStep < historyLength">{{historyStep}}/</span>{{historyLength}} half moves</span>
    </div>
    <board board="board" check="status.isCheck" checkmate="status.isCheckmate" side="status.side.name" selected="selectedSquare" moves="selectedMoves" rotate="rotateBoard"></board>
    <div class="history">
      <ul class="history-list">
        <li ng-repeat="entry in history track by $index" class="history-list-entry" ng-class="{'history-list-entry-active': $index == historyStep-1}">
        <a ng-click="rewindGame($index+1,false)" class="history-list-entry-link">{{entry}}</a>
        </li>
      </ul>
    </div>

    <div class="controls">
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(0,false)">
        <span class="icon-double-arrow-left"></span>
      </a>
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(-1,true)">
        <span class="icon-arrow-left"></span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(1,true)">
        <span class="icon-arrow-right"></span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(historyLength,false)">
        <span class="icon-double-arrow-right"></span>
      </a>
      <a class="control stockfish-control" ng-class="{active: !status.isCheckmate && !apicallinprogress}" ng-click="playBestMove();">
          <span class="icon-bulb"></span>
      </a>
      <a ng-click="rotate()" class="control rotate-control">
          <span class="icon-rotate"></span>
      </a>
    </div>
  </div>
</div>
