<div ng-show="newgame" class="modal">
  <textarea ng-model="pgn" rows="5" placeholder="leave blank for new game"></textarea>
  <button ng-click="newgame = false; newGame(pgn); pgn = ''">
    <span class="iconic" data-glyph="check" title="New game" aria-hidden="true"> New game</span>
  </button>
  <button ng-click="newgame = false">
    <span class="iconic" data-glyph="circle-x" title="Cancel" aria-hidden="true"> Cancel</span>
  </button>
</div>

<div ng-show="export" class="modal">
  <textarea rows="5">{{exportPgn}}</textarea>
  <button ng-click="export = false">
    <span class="iconic" data-glyph="check" title="Close" aria-hidden="true"> CLose</span>
  </button>
</div>

<div class="navigation">
  <a class="navigation-entry icon-plus-circle" ng-click="newgame = true">
    New game
  </a>
  <a class="navigation-entry icon-share" ng-click="export = true">
    Share
  </a>
  <span class="navigation-entry ai">
    Computer plays:
    <label class="ai-toggle" for="aiwhite">
      <input id="aiwhite" type="checkbox" ng-model="computer.white" /> White
    </label>
    <label class="ai-toggle" for="aiblack">
      <input id="aiblack" type="checkbox" ng-model="computer.black" /> Black
    </label>
  </span>
</div>

<div class="game-wrapper">
  

  <div class="game">

    <div class="game-status">
      <span ng-hide="status.isCheckmate || status.isCheck" class="game-status-name">{{status.side.name}}'s turn</span>
      <span ng-show="status.isCheck" class="game-status-name">{{status.side.name}} is in check</span>
      <span ng-show="status.isCheckmate" class="game-status-name">{{status.side.name}} is check mate</span>
      <span ng-show="status.isStalemate">Stalemate</span>
      <span class="game-status-step">{{historyStep}}/{{historyLength}}</span>
    </div>
    <board board="board" check="status.isCheck" checkmate="status.isCheckmate" side="status.side.name" selected="selectedSquare" moves="selectedMoves" rotate="rotateBoard"></board>
    <div class="history">
      <ul class="history-list">
        <li ng-repeat="entry in history track by $index" class="history-list-entry" ng-class="{'history-list-entry-active': $index == historyStep-1}">
        <a ng-click="rewindGame($index+1,false)" class="history-list-entry-link">{{entry}}</a>
        </li>
      </ul>
    </div>

    <div class="controls">
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(0,false)">
        <span class="icon-double-arrow-left"></span>
      </a>
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(-1,true)">
        <span class="icon-arrow-left"></span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(1,true)">
        <span class="icon-arrow-right"></span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(historyLength,false)">
        <span class="icon-double-arrow-right"></span>
      </a>
      <a class="control stockfish-control" ng-class="{active: !status.isCheckmate && !apicallinprogress}" ng-click="playBestMove();">
          <span class="icon-bulb"></span>
      </a>
      <a ng-click="rotate()" class="control rotate-control">
          <span class="icon-rotate"></span>
      </a>
    </div>
  </div>
</div>
