<div ng-show="newgame" class="modal">
  <textarea ng-model="pgn" rows="5" placeholder="leave blank for new game"></textarea>
  <button ng-click="newgame = false; newGame(pgn); pgn = ''">
    <span class="iconic" data-glyph="check" title="New game" aria-hidden="true"> New game</span>
  </button>
  <button ng-click="newgame = false">
    <span class="iconic" data-glyph="circle-x" title="Cancel" aria-hidden="true"> Cancel</span>
  </button>
</div>

<div ng-show="export" class="modal">
  <textarea rows="5">{{exportPgn}}</textarea>
  <button ng-click="export = false">
    <span class="iconic" data-glyph="check" title="Close" aria-hidden="true"> CLose</span>
  </button>
</div>

<a ng-click="newgame = true">
  <span class="iconic" data-glyph="plus" title="New game" aria-hidden="true">New </span>
</a>
<a ng-click="export = true">
  <span class="iconic" data-glyph="data-transfer-download" title="New game" aria-hidden="true"> Export</span>
</a>

<div class="game-wrapper">
  

  <div class="game">

    <div class="game-status">
      <span ng-hide="status.isCheckmate || status.isCheck">{{status.side.name}}'s turn</span>
      <span ng-show="status.isCheck">{{status.side.name}} is in check</span>
      <span ng-show="status.isCheckmate">{{status.side.name}} is in check mate</span>
      <span class="game-status-step">{{historyStep}}/{{historyLength}}</span>
    </div>
    <board board="board" check="status.isCheck" checkmate="status.isCheckmate" side="status.side.name" selected="selectedSquare" moves="selectedMoves" rotate="rotateBoard"></board>
    <div class="history">
      <ul class="history-list">
        <li ng-repeat="entry in history track by $index" class="history-list-entry" ng-class="{'history-list-entry-active': $index == historyStep-1}">
        <a ng-click="rewindGame($index+1,false)" class="history-list-entry-link">{{entry}}</a>
        </li>
      </ul>
    </div>

    <div class="controls">
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(0,false)">
        <span class="iconic iconic-md" data-glyph="media-step-backward" title="flip" aria-hidden="true"> </span>
      </a>
      <a class="control" ng-class="{active: historyStep > 0}" ng-click="rewindGame(-1,true)">
        <span class="iconic iconic-md" data-glyph="media-skip-backward" title="flip" aria-hidden="true"> </span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(1,true)">
        <span class="iconic iconic-md" data-glyph="media-skip-forward" title="flip" aria-hidden="true"> </span>
      </a>
      <a class="control" ng-class="{active: historyStep < historyLength}" ng-click="rewindGame(historyLength,false)">
        <span class="iconic iconic-md" data-glyph="media-step-forward" title="flip" aria-hidden="true"> </span>
      </a>
      <a class="control stockfish-control" ng-class="{active: !status.isCheckmate && !apicallinprogress}" ng-click="playBestMove();">
          <span class="iconic iconic-md" data-glyph="lightbulb" title="stockfish move" aria-hidden="true"> </span>
      </a>
      <a ng-click="rotateBoard = !rotateBoard" class="control rotate-control">
          <span class="iconic iconic-md" data-glyph="loop-circular" title="flip" aria-hidden="true"> </span>
      </a>
    </div>
  </div>
</div>

